{% extends 'home.html' %}
{% load static %}
{% block content %}
<style>
  
</style>
<div class="container mb-5">
    <button class="btn btn-outline-success w-100 mt-4 no-pointer mt-1" style="color:#1ab4a0;">
        <i class="fas fa-tools"></i> PANNEAU DE CONTROL
    </button>
</div>
<div class="card container " style="background-color:#5f745b;box-shadow: 12px 12px 20px 6px #7990f7;">
    <div class="container">
        <center class="row">

            <div class="container row mb-3 mt-3">

                <div class="col-xl-2 col-sm-4 col-4 p-1">
                    <div class="card">
                        <a class="btn btn btn-lg" style="color:aliceblue;background-color:#a5204c;font-size:large"
                            href="{% url 'siteList'  %}">
                            <i class=""></i>SITES
                            <br>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 col-4 p-1">
                    <div class="card">
                        <a class="btn  btn-lg" style="color:beige;background-color:#08b1ff;font-size:large" href=" ">
                            <i class=""></i>DKJBKJJK
                            <br>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 col-4 p-1">
                    <div class="card">
                        <a class="btn  btn-lg" style="font-size:16px;background-color:darkcyan" href=" ">
                            <i class=""></i>
                            <br>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 col-4 p-1">
                    <div class="card">
                        <a class="btn  btn-lg" style="font-size:16px;background-color:forestgreen" href=" ">
                            <i class=""></i>
                            <br>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 col-4 p-1">
                    <div class="card">
                        <a class="btn  btn-lg"
                            style="font-size:16px;background-color:#e744d3;color:white;font-weight:500" href=" ">
                            <i class=""></i>UYHGGFGG
                            <br>
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4 col-4 p-1">
                    <div class="card">
                        <a class="btn  btn-lg" style="font-size:large;background-color:#123941;color:white" href=" ">
                            <i class=""></i>HJJKHL
                            <br>
                        </a>
                    </div>
                </div>
            </div>
        </center>
    </div>
   
</div>

{% endblock %}