{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <style>
        .table {
            font-size: 13px;
            text-align: center;
            width: 95%;
            margin: auto;
        }

        .display_table {
            border-bottom-right-radius: 20px;
            padding-left: 1px;
            padding-right: 1px;
            padding-bottom: 20px;
            box-shadow: 12px 12px 20px 6px #2e6da4;
        }

        .table tr:nth-child(odd) {
            background: white;
        }

        .table tr:nth-child(even) {
            background: white;
        }

        .header {
            font-family: Helvetica;
            color: black;
            font-size: 21px;
            text-align: center;
            width: 100%;
            display: block;
            font-weight: normal;
        }

        th {
            background-color: white;
            color: black;
        }
    </style>
    <center class="">
        <div class="row">
            <div class="header text-right col-md-4 ">{{header}}</div>
            <div class="col-md-4">
                <!-- End of .container -->
               <!--  <a class="btn btn-outline-info btn-sm" href="{% url 'employe'  %}">Gestion des employés</a>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Ajouter Employé</button>
            </div>
           
            <div class="form-group  col-md-4">
                <input id="search" class="form-control " type="text" placeholder="Search....">
            </div>
        </div>
    </center>
    <table class="table  mt-3" id="tableSite">
        <thead>
            <tr class="text-center">
                <th class="">Matricule</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Photo</th>
                <th></th>
            </tr>
        </thead>

        {% if queryset %}
        {% for instance in queryset %}
        <tbody>
            <tr class="text-center" style="font-weight:normal; color:black">
                <td>{{instance.matricule}}</td>
                <td><a href="{% url 'employeDetail' instance.pk %}">{{instance.nomComplet}}</td>
                <td>{{instance.Calcul_age}} ans</td>
                {% if instance.photo %}
                <td>
                    <a class=" " href=" "> <img src="{{ instance.photo.url }}" style="width: 40px;
                 height: 40px;
                 border-radius: 25px;" alt="Team_image" class="" width="30"></a>
                </td>
                {% else %}
                <td>
                    <a class=" " href=""> <img src="" style="width: 40px;
                 height: 40px;
                 border-radius: 25px;" alt="" class="" width="30"></a>
                </td>
                {% endif %}
                <td class="">
                    <centre>
                        <a class="btn" href="{% url 'employeUpdate' instance.pk %}"> <img
                                src="{% static 'hr/img/edit2.png' %}" style="width: 14px; height:18px"></a>
                        <a class="btn" href="{% url 'employeDelete' instance.pk %}" style="color: blue"><img
                                src="{% static 'hr/img/del1.png' %}" style="width: 14px; height:18px"></a>
                    </centre>
                </td>

            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
    <div class="pagination mt-5">
        <span class="step-links">
            {% if queryset.has_previous %}
            <a href="?page=1"><img src="{% static 'hr/img/left.png' %}" style="width: 10px; height:14px"></a>
            <a href="?page={{ queryset.previous_page_number }}"><img src="{% static 'hr/img/gauche.png' %}"
                    style="width: 20px; height:24px"></a>
            {% endif %}

            <span class="current">
                Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
            </span>

            {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}"><img src="{% static 'hr/img/right.png' %}"
                    style="width: 10px; height:14px"></a>
            <a href="?page={{ queryset.paginator.num_pages }}"><img src="{% static 'hr/img/droite.png' %}"
                    style="width: 20px; height:24px"></a>
            {% endif %}
        </span>
    </div>
 
</div>
{% if not queryset %}
<style>
    .display_table {
        display: none;
    }

    h4 {
        font-family: Helvetica;
        color: #04B404;
        font-size: 40px;
        text-align: center;
        width: 100%;
        text-shadow: 6px 6px 6px #c9c6c6;
        display: block;
        font-weight: normal;
    }
</style>
<h4 style="text-align: center;">Pas d'enregistrements</h4>
{% endif %}


<div class="container">
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content container">
                <form action="" method="post" autocomplete="off" enctype="multipart/form-data" class="">
                    <fieldset>
                        <div class="row mt-0">
                            <div class="col-md-6 mt-2">
                                
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-outline-primary mt-3 ">Ajouter</button>
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-outline-primary mt-3 " href="{% url 'employeList'  %}"> liste des
                                    employés</a>
                            </div>
                        </div>

                        {% csrf_token %}
                        <div class="row mt-5">
                            <div class="col-md-2 form-group">
                                {{ form.matricule|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ form.prenom|as_crispy_field }}
                            </div>
                            <div class="col-md-6 form-group">
                                {{ form.nom_postnom|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-md-8 form-group">
                                {{ form.fonction|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ form.genre|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-md-4 form-group">
                                {{ form.adresse|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ form.birthday|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ form.engagement|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-md-4 form-group">
                                {{ form.phone|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ form.photo|as_crispy_field }}
                            </div>
                            <div class="col-md-4 form-group">
                                {{ form.actif |as_crispy_field}}
                            </div>

                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>






{% endblock content %}