/* --------------------------------------------- 
# START CONFIGURATION
--------------------------------------------- */
html,
body {
    height: 100%;
    margin:0;
    max-width: 100%;
    padding-top:30px;
    font-family: century gothic;
}



/* --------------------------------------------- 
# FOOTER
--------------------------------------------- */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    
}
#footer,
.push {
    height: 50px;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

/* --------------------------------------------- 
# NAVBAR
--------------------------------------------- */
#btn-nav {
    width: 90px;
    float: right;
    margin-right: 25px;
}

/* --------------------------------------------- 
# LOGIN
--------------------------------------------- */

/* --------------------------------------------- 
# others
--------------------------------------------- */
.no-pointer{
    cursor: default  !important;
}